asgiref==3.8.1
Django==5.1.5
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.1
django-environ==0.9.0
djangorestframework==3.15.0
django-crispy-forms==2.4
pyodk==1.2.1
django-allauth==0.65.0
django-celery-beat==2.8.1
django-simple-history==3.10.1
django-debug-toolbar==4.3.0
whitenoise==6.6.0
django-extensions==3.2.3
django-bootstrap4==24.2
django-filter==24.1
django-pivot==0.2.5
django-cors-headers==4.3.1
