<aside id="novKpiCardsContainer" class="kpi-cards-container" data-component="kpi-cards">
  <div class="nov-kpi-cards">
    <article class="nov-kpi-card">
      <h6>Pregnancies</h6>
      <div class="nov-kpi-metrics">
        <div><span>Today</span><strong id="nov-kpi-today-pregnancies">0</strong></div>
        <div><span>This week</span><strong id="nov-kpi-week-pregnancies">0</strong></div>
        <div><span>Cummulative Total</span><strong id="nov-kpi-total-pregnancies">0</strong></div>
      </div>
    </article>
    <article class="nov-kpi-card">
      <h6>Pregnancy Outcomes</h6>
      <div class="nov-kpi-metrics">
        <div><span>Today</span><strong id="nov-kpi-today-preg-outcomes">0</strong></div>
        <div><span>This week</span><strong id="nov-kpi-week-preg-outcomes">0</strong></div>
        <div><span>Cummulative Total</span><strong id="nov-kpi-total-preg-outcomes">0</strong></div>
      </div>
    </article>
    <article class="nov-kpi-card">
      <h6>Deaths</h6>
      <div class="nov-kpi-metrics">
        <div><span>Today</span><strong id="nov-kpi-today-deaths">0</strong></div>
        <div><span>This week</span><strong id="nov-kpi-week-deaths">0</strong></div>
        <div><span>Cummulative Total</span><strong id="nov-kpi-total-deaths">0</strong></div>
      </div>
    </article>
    <article class="nov-kpi-card">
      <h6>Verbal Autopsies</h6>
      <div class="nov-kpi-metrics">
        <div><span>Today</span><strong id="nov-kpi-today-vas">0</strong></div>
        <div><span>This week</span><strong id="nov-kpi-week-vas">0</strong></div>
        <div><span>Cummulative Total</span><strong id="nov-kpi-total-vas">0</strong></div>
      </div>
    </article>
  </div>
</aside>
