{% load static i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}{% block head_title %}{% endblock head_title %}{% endblock title %}
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  {% block css %}
  <!-- Bootstrap CSS -->
  <link href="{% static 'vendor/bootstrap-4.3.1/bootstrap.min.css' %}" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="{% static 'css/landing.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<body>
  <div class="header-top-line"></div>
  <header class="header">
      <div class="container position-relative">
          <div class="row align-items-center">
              <div class="col-auto">
				  <img class="auth-logo" src="{% static 'images/bg.png' %}?height=50&width=50" alt="Logo" style="background-color: white;" class="img-fluid"/>
              </div>
              <div class="col">
                  <!--<h1 class="logo-text mb-0">Zambia National Public Health Institute</h1> -->
                  <div class="mt-2">
                      <span class="va-cms znphi-text">ZNPHI</span><span class="va-cms">VA</span><span class="va-cms cms-text">CMS</span>
                      <p class="system-text mb-0">Verbal Autopsy & Case Management System</p>
                  </div>
              </div>
          </div>
      </div>
  </header>
{% block inner %}
{% include "partials/_messages.html" %}
  <main class="login-card-container">	
    
      <div class="login-card row no-gutters">
          <div class="col-md-6 d-flex align-items-center justify-content-center card-image">
			  <img class="auth-logo-3 img-fluid" src="{% static 'images/srs1.png' %}" alt="System Image"  class="img-fluid" />
          </div>
          <div class="col-md-6 card-form">
              <h2>Sign in</h2>
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}                        
                {{ form|crispy }}                        
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                        
                <div class="form-group mt-4">
                  <button class="btn btn-primary btn-block primaryAction btn-success" type="submit">
                    {% trans "Sign In" %}
                  </button>
                </div>
                        
                <div class="text-center mt-3">
                  <a class="btn btn-link secondaryAction" href="{% url 'account_reset_password' %}">
                    {% trans "Forgot Password?" %}
                  </a>
                </div>
              </form>
          </div>
      </div>
  </main>
  {% endblock %}

  <footer class="footer">
      <div class="container">
          <p>Copyright &copy; {% now "Y" %} Zambia National Public Health Institute.</p>
          <p>Maintained by ZNPHI ICT</p>
      </div>
  </footer>
  
  <!-- Scripts -->
    <script src="{% static 'vendor/jquery-3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.3.1/bootstrap.min.js' %}"></script>

  <!-- Bootstrap JS, Popper.js, and jQuery -->

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>
</html>