{% extends "base.html" %}

{% block title %}Users{% endblock %}

{% block heading %}Users{% endblock %}

{% block content %}
  {% include "partials/page_header.html" with title="Users" subtitle="Manage user accounts and access roles." actions_template="users/partials/_user_list_actions.html" class_name="ou-mb-3" %}

  {% include "partials/card.html" with title="User Directory" body_template="users/partials/_user_list_card_body.html" class_name="ou-mb-3" body_class="p-0" %}

  {% if is_paginated %}
    {% include "partials/_pagination.html" %}
  {% endif %}
{% endblock %}
