{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Create a New User{% endblock %}
{% block heading %}Create a New User{% endblock %}

{% block content %}
  <section class="ou-card ou-mb-3">
    <div class="ou-card-header">
      <h2 class="ou-card-title">User Details</h2>
    </div>
    <div class="ou-card-body">
      <form method="post" id="user-create-form" action="{% url 'users:create' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="ou-form-actions">
          <button type="submit" class="btn btn-primary">Create</button>
          <a href="{% url 'users:index' %}" class="btn btn-link">Cancel</a>
        </div>
      </form>
    </div>
  </section>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
  <script src="{% static 'js/location.js' %}"></script>
{% endblock %}
