{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Import Users{% endblock %}

{% block content %}
  <div class="row mt-4">
    <h2>Import Users</h2>
  </div>
  <p>Upload a CSV file with user data. You can optionally force all users into a specific group (overriding the file) by selecting a group below.</p>
  <h4>Expected columns</h4>
  <ul>
    <li><code>email</code> (Required)</li>
    <li><code>name</code> (Required)</li>
    <li><code>group</code> (Optional - defaults to Data Viewers)</li>
    <li><code>password</code> (Optional - random if omitted)</li>
    <li><code>view_pii</code> (Optional yes or no)</li>
    <li><code>download_data</code> (Optional yes or no)</li>
    <li><code>mobile1</code> (Optional)</li>
    <li><code>mobile2</code> (Optional)</li>
    <li><code>address</code> (Optional)</li>
  </ul>
  <p>Note that user geographic or facility scoping can be applied to individual users after the bulk upload completes.</p>
  <div class="row">
    <div class="col-md-6">
      <form method="post" id="user-import-form" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Preview Import</button>
            <a href="{% url 'users:index' %}" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
  <script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
  <script src="{% static 'js/location.js' %}"></script>
{% endblock %}
