<div class="highlightsContainer" id="peSummaryCards" data-component="summary">
  <div class="highlight">
    <h3>Last Data Update</h3>
    <p id="peCardLastDataUpdate">{{ card_last_data_update }}</p>
  </div>
  <div class="highlight">
    <h3>Last Event Date</h3>
    <p id="peCardLastEventDate">{{ card_last_event_date }}</p>
  </div>
  <div class="highlight">
    <h3>Number of Events</h3>
    <p id="peCardNumberOfEvents">{{ card_number_of_events }}</p>
  </div>
  <div class="highlight">
    <h3>Mean Age</h3>
    <p id="peCardMeanAge">{{ card_mean_age }}</p>
  </div>
</div>
<p id="peSummaryEmpty" class="po-empty-state" hidden>No pregnancy data available for the selected filters.</p>
