<form id="peFiltersForm" class="controls" data-component="filters" method="get" action="{% url 'va_analytics:pregnancy_dashboard' %}">
  <small style="font-style: italic; font-size: 0.65rem;">
    Note: this dashboard visualizes pregnancy events and all charts sum to the filtered total above.
  </small>

  <div class="betweenDatesContainer">
    <label for="peFilterTimePreset">Date of Last Menstrual Period:</label>
    <select id="peFilterTimePreset" class="select" name="time_preset">
      <option value="all_time" {% if filter_time_preset == "all_time" %}selected{% endif %}>All time</option>
      <option value="last_30_days" {% if filter_time_preset == "last_30_days" %}selected{% endif %}>Last 30 days</option>
      <option value="last_7_days" {% if filter_time_preset == "last_7_days" %}selected{% endif %}>Last 7 days</option>
      <option value="last_24_hours" {% if filter_time_preset == "last_24_hours" %}selected{% endif %}>Last 24 hours</option>
      <option value="custom" {% if filter_time_preset == "custom" %}selected{% endif %}>Custom</option>
    </select>

    <div class="customDatesContainer">
      <span>Between</span>
      <label for="peFilterStartDatetime" class="sr-only">Start DateTime</label>
      <input id="peFilterStartDatetime" class="input" type="datetime-local" name="start_datetime" value="{{ filter_start_datetime }}">
      <span>and</span>
      <label for="peFilterEndDatetime" class="sr-only">End DateTime</label>
      <input id="peFilterEndDatetime" class="input" type="datetime-local" name="end_datetime" value="{{ filter_end_datetime }}">
    </div>
  </div>

  <div class="formBtnsContainer">
    <button id="peFiltersReset" type="button" class="button resetBtn">Reset</button>
    <button type="submit" class="button updateDataBtn" style="margin-left: 10px">Apply</button>
  </div>
  <input type="hidden" id="peFilterMapView" name="map_view" value="{{ filter_map_view }}">
</form>
