<form
  method="{% if method %}{{ method }}{% else %}get{% endif %}"
  action="{% if action %}{{ action }}{% endif %}"
  class="ou-filter-bar {% if class_name %}{{ class_name }}{% endif %}"
>
  {% if note %}
    <small class="ou-filter-note">{{ note }}</small>
  {% endif %}
  <div class="ou-filter-row">
    {% if fields_template %}
      {% include fields_template %}
    {% endif %}
    {% if actions_template %}
      <div class="ou-filter-actions">
        {% include actions_template %}
      </div>
    {% endif %}
  </div>
</form>
