<div>
  <label class="form-label">District</label>
  <input type="text" name="district" value="{{ filters.district }}" class="form-control" />
</div>
<div>
  <label class="form-label">Interviewer</label>
  <input type="text" name="interviewer" value="{{ filters.interviewer }}" class="form-control" />
</div>
<div>
  <label class="form-label">Interview Status</label>
  <select name="interview_status" class="form-select">
    <option value="">All</option>
    {% for value,label in object_list.model.VAInterviewStatus.choices %}
      <option value="{{ value }}" {% if filters.interview_status == value %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
</div>
