{% extends "base.html" %}
{% load static i18n %}
{% block title %}Pregnancy Dashboard{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'css/pregnancy_dashboard.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/leaflet-1.9.2/leaflet.css' %}">
{% endblock %}

{% block content %}
  <div class="row mt-4 pregnancy-dashboard-shell">
    <div class="col">
      <h4 class="mb-4">Pregnancy Dashboard</h4>
      <main
        id="pregnancyDashboardApp"
        data-summary-endpoint="{% url 'va_analytics:pregnancy-summary-api' %}"
        data-trend-endpoint="{% url 'va_analytics:pregnancy-trend-api' %}"
        data-gestational-age-endpoint="{% url 'va_analytics:pregnancy-ga-detection-api' %}"
        data-anc-visits-endpoint="{% url 'va_analytics:pregnancy-ga-anc-api' %}"
        data-map-endpoint="{% url 'va_analytics:pregnancy-map-api' %}"
      >
        <section class="sectionContainer panelView" id="pePanelSection">
          {% include "va_analytics/partials/_pe_summary_cards.html" %}
          {% include "va_analytics/partials/_pe_filters.html" %}
        </section>

        {% include "va_analytics/partials/_pe_map.html" %}
        {% include "va_analytics/partials/_pe_trend.html" %}
        {% include "va_analytics/partials/_pe_gestational_age.html" %}
        {% include "va_analytics/partials/_pe_anc_visits.html" %}
      </main>
    </div>
  </div>
{% endblock %}

{% block page_scripts %}
  <script type="text/javascript" src="{% static 'vendor/chartjs-3.7.1/chart.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/leaflet-1.9.2/leaflet.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/pregnancy_dashboard.js' %}"></script>
{% endblock %}
