{% extends "base.html" %}

{% block title %}Manage Duplicate Data{% endblock %}

{% block heading %}Manage Duplicate Data{% endblock %}

{% block content %}
  {% if AUTO_DETECT_DUPLICATES %}
    <section class="ou-card ou-mb-3">
      <div class="ou-card-header">
        <h2 class="ou-card-title">Duplicate Detection</h2>
      </div>
      <div class="ou-card-body">
        <p>Data flagged as potential duplicates by VA Explorer are shown below.</p>
        <p class="ou-text-muted">
          Your system is configured to automatically flag data as potential duplicates if they match
          across <a href="{% url 'data_cleanup:download_questions' %}">these questions</a>. To manage duplicates,
          delete them or edit potential duplicate VAs to remove them from detection.
        </p>
      </div>
    </section>
    {% if total_duplicate_records == 0 %}
    <div class="alert alert-warning ou-mb-3" role="alert">
        There are currently no duplicate Data flagged by the system.
    </div>
    {% else %}
      <section class="ou-card ou-mb-3">
        <div class="ou-card-header">
          <h2 class="ou-card-title">Bulk Actions</h2>
        </div>
        <div class="ou-card-body">
          <table class="table table-sm table-striped">
            <tbody>
              <tr>
                <td class="duplicates-table-text ">{{total_duplicate_records}} potential duplicate Data</td>
                <td><a class="btn btn-primary" href="{% url 'data_cleanup:download_all' %}"><i class="fas fa-download"></i> Download All</a></td>
                {% if perms.va_data_management.bulk_delete %}
                  <td><a class="btn btn-danger" href="{% url 'data_management:delete_all' %}"><i class="fas fa-trash"></i> Delete All</a></td>
                {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      {% include "partials/card.html" with title="Individual Actions" body_template="va_data_cleanup/partials/_duplicates_table_card_body.html" class_name="ou-mb-3" body_class="p-0" %}
      {% if page_obj.has_other_pages %}
        {% include "partials/_pagination.html" %}
      {% endif %}
    {% endif %}
  {% else %}
    {# Message shown if user happens upon the data_cleanup URL (it's hidden from the navbar) #}
    <div class="alert alert-info ou-mb-3">
      <p>Your system is currently not configured to automatically flag Data as potential duplicates.</p>
      <p>To turn this feature on, please contact your system administrator.</p>
    </div>
  {% endif %}
{% endblock %}
