{% extends "base.html" %} {% load static i18n %} {% load va_explorer_tags %} 
{% load static %} {% load crispy_forms_tags %} 
{% block title %}Event Details{%endblock %} 
{% block content %}
<div class="row mt-4">
  <h2>Scheduled VA Interview Details</h2>
</div>
<div class="col-lg-6 col-md-8">
  <div class="mb-3">
    <div class="text-muted">Status</div>
    <div><strong>{{ object.get_event_status_display }}</strong></div>
  </div>

  {% if is_death_event and death_record %}
  <div class="mb-3">
    <div class="text-muted">Death ID</div>
    <div><strong>{{ death_record.id }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">DE-03 Name of the deceased</div>
    <div><strong>{{ death_record.DE_03|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">DE-04 Date of Birth of the deceased</div>
    <div><strong>{{ death_record.DE_04|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">DE-05 Sex of the deceased</div>
    <div><strong>{{ death_record.DE_05|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">DE-06 Date of death of the deceased</div>
    <div><strong>{{ death_record.DE_06|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">District</div>
    <div><strong>{{ death_record.district|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">Constituency</div>
    <div><strong>{{ death_record.constituency|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">Ward</div>
    <div><strong>{{ death_record.ward|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">EA</div>
    <div><strong>{{ death_record.ea|default:"--" }}</strong></div>
  </div>
  {% endif %}

  <div class="mb-3">
    <div class="text-muted">VA Interview Scheduled Date</div>
    <div><strong>{{ object.interview_scheduled_date|default:"--" }}</strong></div>
  </div>

  <div class="mb-3">
    <div class="text-muted">VA Interview Contact Name</div>
    <div><strong>{{ object.interview_contact_name|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">VA Interview Contact Phone</div>
    <div>
      <strong>
        {% if object.interview_contact_tel %}
          {{ object.interview_contact_tel|stringformat:"s" }}
        {% else %}
          --
        {% endif %}
      </strong>
    </div>
  </div>

  <div class="mb-3">
    <div class="text-muted">VA Interviewer Name</div>
    <div><strong>{{ interviewer_name|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">VA Interviewer Contact</div>
    <div><strong>{{ interviewer_contact|default:"--" }}</strong></div>
  </div>

  <div class="mb-3">
    <div class="text-muted">Respondent Name</div>
    <div><strong>{{ object.respondent_name|default:"--" }}</strong></div>
  </div>
  <div class="mb-3">
    <div class="text-muted">Respondent Phone</div>
    <div><strong>{{ object.respondent_phone|default:"--" }}</strong></div>
  </div>

  <div class="mb-3">
    <div class="text-muted">VA Interview Comments</div>
    <div><strong>{{ object.interview_comments|default:"--" }}</strong></div>
  </div>
</div>

<a href="{% url 'cms-event-list' %}" class="btn btn-primary" role="button">Back</a>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
<script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}
