{% extends "base.html" %} {% load static i18n %} {% load va_explorer_tags %} 
{% load static %} {% load crispy_forms_tags %} 
{% block title %}Staff Details{%endblock %} 
{% block content %}
<div class="row mt-4">
  <h2>Staff Details</h2>
</div>
<div class="row">
    <div class="form-group col-md-6">
      <label for="email">Title </label>
      <label for="email"><strong>{{ object.title }}</strong></label>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Name </label>
      <label for="email"><strong>{{ object.full_name }}</strong></label>
  </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
      <label for="email">Mobile </label>
      <label for="email"><strong>{{ object.mobile_per }}</strong></label>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email </label>
      <label for="email"><strong>{{ object.email }}</strong></label>
  </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
      <label for="email">Type </label>
      <label for="email"><strong>{{ object.get_staff_type_display }}</strong></label>
    </div>
    <div class="form-group col-md-6">
      <label for="email">Comment </label>
      <label for="email"><strong>{{ object.comment }}</strong></label>
  </div>
</div>
<a href="{% url 'cms-staff-list' %}" class="btn btn-primary" role="button">View All Staff</a>
{% endblock %}

<!-- Needs to be outside content block so JS in base template loads first -->
{% block page_scripts %}
<script src="{% static 'vendor/select2-4.1.0-beta.1/select2.js' %}"></script>
<script src="{% static 'js/location.js' %}"></script>
{% endblock %}
