{% extends "base.html" %} 
{% block title %} All Staff{% endblock %} 

{% block heading %} All Staff {% endblock %} 

{% block content %}
<div class="row mt-4">
  <a href="{% url 'cms-staff-create' %}" class="btn btn-success" role="button"
    >Add New Staff</a
  >
</div>
<div class="row mt-4">
 <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Title</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Comment</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {% for event in object_list %}
      <tr>
        <td>{{ event.id }}</td>
        <td>{{ event.code }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.full_name }}</td>
        <td>{{ event.email }}</td>
        <td>{{ event.mobile_per }}</td>
        <td>
      {{ event.comment }}
        </td>
        <td>   
          <a href="{% url 'cms-staff-update' event.pk %}" class="btn btn-primary" role="button">Edit</a>
          <a href="{% url 'cms-staff-detail' event.pk %}" class="btn btn-primary" role="button">Show</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
